# ROS 2 build artifacts
build/
install/
log/
maps/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
.eggs/

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# ROS bag files
*.db3
*.mcap
*.bag
metadata.yaml

# map
